.cabeçalho {
      padding: 24px 0;
    cabeçalho-imagem{
    width:20px;    
background-color: #383d58;
color:whiter;
display:flex;
justify-content:space-around;
.cabeçalho-lista-item;{
  display:inline-block;
margin:016px;
}
}
.escola-imagem{
      width:25%;
  backgraound-image:linear-gradient(#383d58);
color:white;

}
